@(title: String, taskForm: Form[Task])

@import helper._

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="assets/stylesheets/main.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("js/interpreter.js")">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <div id="scala-interpreter">Scala interpreter</div>

        @helper.form(routes.Application.index) {
            @helper.textarea(taskForm("in"), 'rows -> 30, 'cols -> 110, 'spellcheck -> false)
            @helper.textarea(taskForm("out"), 'rows -> 10, 'cols -> 110, 'spellcheck -> false)
            <input type="submit" value="Submit">
        }
    </body>
</html>